.App {
  text-align: center;
  margin: 20px;
}

.calendar-container {
  margin-top: 20px;
}

.body{
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.appointment {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

